/* :root {
  --white: #fff;
  --black: #282828;
  --green: #393;
  --light-grey: #f1f3f4;
  --grey: #8b8b8b;
  --grey-divider: #dddddd;
  --footerItemsBG: #404040;
} */

:root {
  --white: #fff;
  --black: #282828;
  --green: #92A134;
  --light-grey: #f1f3f4;
  --grey: #8b8b8b;
  --grey-divider: #dddddd;
  --footerItemsBG: #404040;
}