.wrapper {
  padding: clamp(1.875rem, 0.982rem + 4.46vw, 5rem) 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title_block {
  display: flex;
  gap: 32px;
  align-items: center;
}
.btn_block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.bottomSmallBtn {
  display: none;
}

.salesCardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

/* Dark mode */
.dark {
  background-color: var(--black);
}

/* Mobile */

@media (max-width: 1439px) {
  .salesCardWrapper {
    gap: 20px;
  }
}

@media (max-width: 999px) {
  .salesCardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .salesCardWrapper {
    grid-template-columns: 1fr;
  }

  .bottomSmallBtn {
    display: block;
    margin: 0 auto;
  }
}
