.txt {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--black);
  }
  
  /* Dark mode */
  
  .dark {
    color: var(--white);
  }
  
  /* Mobile */
  @media (max-width: 999px) {
    .txt {
      font-size: 32px;
    }
  }
  
  @media (max-width: 767px) {
    .txt {
      font-size: 28px;
    }
  }