.wrapper {
    border-radius: 12px;
    background: linear-gradient(220deg, #0b710b 0%, #393 100%);
    padding: 32px 32px 0;
    overflow: hidden;
  }
  
  .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    color: var(--white);
    margin-bottom: 24px;
  }
  
  .imgAndFormWrap {
    display: flex;
    gap: 32px;
    align-items: flex-end;
    position: relative;
  }
  .imgBlock {
    position: relative;
    width: 748px;
    z-index: 5;
  }
  .img {
    width: 748px;
    height: 100%;
  }
  
  .formBlock {
    margin-bottom: 32px;
    width: clamp(20.875rem, 7.911rem + 27.04vw, 32.25rem);
  }
  
  /* Dark mode */
  
  .dark {
    background-color: var(--black);
  }
  
  /* Mobile */
  
  @media (max-width: 1439px) {
    .wrapper {
      padding: 32px 20px 0 0;
    }
    .imgAndFormWrap {
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .imgBlock {
      width: 100%;
      height: 100%;
    }
    .img {
      position: absolute;
      min-width: 670px;
      left: clamp(-18.75rem, -43.393rem + 53.49vw, 3.75rem);
      bottom: 0;
    }
    .formBlock {
      width: clamp(20.875rem, -0.209rem + 43.98vw, 39.375rem);
      margin-left: 40px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 999px) {
    .title {
      font-size: 56px;
    }
  }
  
  @media (max-width: 767px) {
    .wrapper {
      padding: 32px 20px 0;
    }
    .title {
      font-size: 48px;
    }
    .imgAndFormWrap {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .imgBlock {
      display: flex;
      justify-content: center;
      max-width: 100%;
    }
    .img {
      position: static;
      min-width: 100%;
    }
    .formBlock {
      margin-bottom: 0;
      margin-left: 0;
      width: 100%;
    }
  }
  
  @media (max-width: 479px) {
    .title {
      font-size: 40px;
    }
    .img {
      min-width: 500px;
    }
  }