.wrapper {
  border: 1px solid var(--grey-divider);
  border-radius: 12px;
  height: 180px;
  display: flex;
  gap: 32px;
  overflow: hidden;
}

.imgBlock {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 1px solid var(--grey-divider);
  width: 200px;
}

.aboutBlock {
  padding: 32px 32px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.titleAndCloseBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addAndPriceBlock {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.priceBlock {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.close {
  height: 14px;
  aspect-ratio: 1;
  cursor: pointer;
}

/* Dark mode */
.menuDark {
  filter: invert(1);
}

/* Mobile */
@media (max-width: 1439px) {
  .wrapper {
    height: 218px;
    gap: 0;
  }
  .aboutBlock {
    padding: 20px;
    gap: 12px;
  }
  .titleBlock {
    width: 250px;
  }
  .addAndPriceBlock {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
}

@media (max-width: 999px) {
  .wrapper {
    height: auto;
  }
  .addAndPriceBlock {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .addAndPriceBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .titleBlock {
    width: 150px;
  }
}

@media (max-width: 479px) {
  .imgBlock {
    width: 116px;
  }
  .titleBlock {
    width: auto;
  }
  .aboutBlock {
    padding: 15px;
  }
}
